<!doctype html>
<html
  {% if request.design_mode %}
    class="shopify-design-mode"
  {% endif %}
  lang="{{ request.locale.iso_code }}"
>
  <head>
    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {{ content_for_header }}
    {{ 'common-imports.css' | asset_url | stylesheet_tag: preload: true }}
  </head>

  <body>
    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    <script src="{{ 'vendors.js' | asset_url }}" defer></script>
    <script src="{{ 'global.js' | asset_url }}" defer></script>
    <script src="{{ 'shared.js' | asset_url }}" async></script>
  </body>
</html>
