{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}
    <title>{{ 'gift_cards.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>
    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}
  </head>

  <body>
    <main>
      <h1>{{ shop.name }}</h1>
      <h2>{{ gift_card.balance | money_with_currency }}</h2>

      {%- if gift_card.enabled == false or gift_card.expired -%}
        <p>{{ 'gift_cards.issued.expired' | t }}</p>
      {%- endif -%}

      {% if gift_card.expires_on %}
        {%- assign gift_card_expiration_date = gift_card.expires_on | date: '%B %e, %Y' -%}
        <p>{{ 'gift_cards.issued.expiration_date' | t: expires_on: gift_card_expiration_date }}</p>
      {% endif %}

      <p>{{ 'gift_cards.issued.how_to_use_gift_card' | t }}</p>
      <h3>{{ gift_card.code | format_code }}</h3>

      <a href="{{ shop.url }}">{{ 'gift_cards.issued.shop_link' | t }}</a>
    </main>
  </body>
</html>
